In [1]:
import pandas as pd

In [2]:
def to_postgres(st, df, path="C://"):
    
    res = "drop table if exists " + st + ";\ncreate table " + st + " ("
    for col,typ in zip(df.columns,df.dtypes): 
        if str(typ) == 'object':
            typ = "varchar"
        elif str(typ) == "int64":
            typ = "int"
        elif str(typ) == "float64":
            typ = "float8"
            
        #.replace(" ","").replace("/","").replace("(","").replace(")","").replace("%","")
        res = res + "\"" + col + "\" " + str(typ) + ", "
    return res[:-2] + ");\ncopy " + st + " from \'" + path + "\' csv header;\nselect * from " + st + ";"
#print(to_postgres("", df))

In [12]:
def to_dbdiagram(st, df):
    st = st + "\n-\n"
    for col, typ in zip(df.columns,df.dtypes):
        if str(typ) == 'object':
            typ = "string"
        st = st + col.replace(" ","") + " " + str(typ) + "\n"
    return st
#print(to_dbdiagram("test", df))

In [3]:
print(to_postgres('departments',pd.read_csv('C://temp/departments.csv'),path='C://temp/departments.csv'))
print(to_postgres('manager',pd.read_csv('C://temp/dept_manager.csv'),path='C://temp/dept_manager.csv'))
print(to_postgres('emp',pd.read_csv('C://temp/dept_emp.csv'),path='C://temp/dept_emp.csv'))
print(to_postgres('employees',pd.read_csv('C://temp/employees.csv'),path='C://temp/employees.csv'))
print(to_postgres('titles',pd.read_csv('C://temp/titles.csv'),path='C://temp/salaries.csv'))
print(to_postgres('salaries',pd.read_csv('C://temp/salaries.csv'),path='C://temp/salaries.csv'))

drop table if exists departments;
create table departments ("dept_no" varchar, "dept_name" varchar);
copy departments from 'C://temp/departments.csv' csv header;
select * from departments;

In [13]:
print(to_dbdiagram('departments',pd.read_csv('C://temp/departments.csv')))
print(to_dbdiagram('manager',pd.read_csv('C://temp/dept_manager.csv')))
print(to_dbdiagram('emp',pd.read_csv('C://temp/dept_emp.csv')))
print(to_dbdiagram('employees',pd.read_csv('C://temp/employees.csv')))
print(to_dbdiagram('titles',pd.read_csv('C://temp/titles.csv')))
print(to_dbdiagram('salaries',pd.read_csv('C://temp/salaries.csv')))

departments
-
dept_no string
dept_name string

manager
-
dept_no string
emp_no int64

emp
-
emp_no int64
dept_no string

employees
-
emp_no int64
emp_title_id string
birth_date string
first_name string
last_name string
sex string
hire_date string

titles
-
title_id string
title string

salaries
-
emp_no int64
salary int64

drop table if exists emp;
create table emp ("emp_no" int, "dept_no" varchar);
copy emp from 'C://temp/dept_emp.csv' csv header;
select * from emp;

drop table if exists employees;
create table employees ("emp_no" int, "emp_title_id" varchar, "birth_date" varchar, "first_name" varchar, "last_name" varchar, "sex" varchar, "hire_date" varchar);
copy employees from 'C://temp/employees.csv' csv header;
select * from employees;

drop table if exists titles;
create table titles ("title_id" varchar, "title" varchar);
copy titles from 'C://temp/salaries.csv' csv header;
select * from titles;

drop table if exists salaries;
create table salaries ("emp_no" int, "salary" int);
copy salaries from 'C://temp/salaries.csv' csv header;
select * from salaries;