# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [4]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [11]:
df = pd.read_csv("cities.csv")
df

,Unnamed: 0,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,jamestown,42.10,-79.24,16.67,87,90,5.10,US,1599485295
1,rikitea,-23.12,-134.97,22.70,85,7,4.39,PF,1599485454
2,oktyabrskoye,43.06,44.74,25.56,65,40,3.00,RU,1599485454
3,shimoda,34.67,138.95,22.78,94,89,4.37,JP,1599485454
4,isangel,-19.55,169.27,22.03,83,100,5.81,VU,1599485455
...,...,...,...,...,...,...,...,...,...
571,capreol,46.71,-80.92,17.78,93,75,6.70,CA,1599485626
572,frontera,26.93,-101.45,22.78,88,100,0.45,MX,1599485626
573,tiznit,29.58,-9.50,35.97,17,0,4.37,MA,1599485571
574,harqalah,36.03,10.51,30.00,42,20,5.10,TN,1599485627
575,sobolevo,54.43,31.90,17.26,87,98,0.48,RU,1599485627

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [5]:
gmaps.configure(api_key=g_key)

In [8]:
m = gmaps.Map()
locs = df[["Lat", "Lng"]].astype(float)
m.add_layer(gmaps.heatmap_layer(locs, weights=df.Humidity, max_intensity=100))
m

Map(configuration={'api_key': 'AIzaSyDvXwRURhDzCrLess04tHh8yU8eFRZ3Vr4'}, data_bounds=[(-46.4741912345298, -17…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [16]:
#A max temperature lower than 80 degrees but higher than 70.
hotel_df = df.loc[df["Max Temp"] > 21,:]
hotel_df = df.loc[df["Max Temp"] < 32,:]

#Wind speed less than 10 mph.
hotel_df = df.loc[df["Wind Speed"] < 10,:]

#Zero cloudiness.
hotel_df = df.loc[df.Cloudiness == 0,:]

hotel_df

,Unnamed: 0,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
8,vredendal,-31.67,18.50,29.45,21,0,5.11,ZA,1599485456
34,cape town,-33.93,18.42,24.44,49,0,4.60,ZA,1599485320
36,teruel,40.67,-0.67,22.00,34,0,7.20,ES,1599485464
38,finschhafen,-6.60,147.87,26.03,77,0,3.54,PG,1599485465
51,hermanus,-34.42,19.23,22.78,61,0,2.68,ZA,1599485468
66,acarau,-2.89,-40.12,31.30,42,0,6.54,BR,1599485473
69,saint-francois,46.42,3.91,23.00,33,0,4.60,FR,1599485473
79,bam,29.11,58.36,31.37,11,0,4.69,IR,1599485476
109,lata,40.16,-8.33,31.11,35,0,3.72,PT,1599485485
122,luderitz,-26.65,15.16,22.55,44,0,6.01,NaN,1599485491
135,shubarshi,48.59,57.19,22.67,21,0,2.96,KZ,1599485495
145,port hedland,-20.32,118.57,23.00,88,0,4.60,AU,1599485498
147,springbok,-29.66,17.89,27.91,17,0,2.88,ZA,1599485499
193,bardiyah,31.76,25.09,27.78,51,0,5.47,LY,1599485513
203,babanka,48.71,30.45,30.28,26,0,2.21,UA,1599485516
205,mount isa,-20.73,139.50,25.00,25,0,3.10,AU,1599485516
210,fare,-16.70,-151.02,25.52,79,0,5.29,PF,1599485518
238,richards bay,-28.78,32.04,24.16,54,0,6.90,ZA,1599485528
249,torbat-e jam,35.24,60.62,24.17,19,0,5.78,IR,1599485531
266,mach,29.86,67.33,31.93,13,0,2.57,PK,1599485536
269,alice springs,-23.70,133.88,23.89,17,0,2.07,AU,1599485537
288,santa luzia,-19.77,-43.85,26.00,44,0,1.50,BR,1599485543
291,itarema,-2.92,-39.92,30.24,44,0,6.89,BR,1599485276
300,bindura,-17.30,31.33,26.45,19,0,4.45,ZW,1599485546
307,asau,46.43,26.40,28.33,56,0,2.26,RO,1599485548
327,fukue,32.69,128.84,24.60,82,0,6.26,JP,1599485408
331,luangwa,-15.62,30.42,29.49,23,0,4.29,ZM,1599485555
376,guerrero negro,27.98,-114.06,26.07,61,0,1.27,MX,1599485568
400,bapatla,15.90,80.47,28.74,80,0,3.57,IN,1599485471
403,almaznyy,48.04,40.05,30.00,16,0,4.00,RU,1599485576
436,upington,-28.45,21.26,30.00,15,0,2.10,ZA,1599485585
440,auki,-8.77,160.70,25.30,83,0,1.62,SB,1599485586
449,karratha,-20.74,116.85,23.64,54,0,4.41,AU,1599485589
475,sarkikaraagac,38.08,31.37,30.00,19,0,2.57,TR,1599485596
505,saldanha,-33.01,17.94,26.00,41,0,4.10,ZA,1599485605
516,ajdabiya,30.76,20.23,28.60,49,0,9.06,LY,1599485609
532,taixing,32.17,120.01,28.89,58,0,2.09,CN,1599485614
536,chikwawa,-16.03,34.80,29.23,31,0,4.60,MW,1599485615
549,ligayan,4.65,119.47,29.58,71,0,3.55,PH,1599485619
555,quchan,37.11,58.51,21.63,22,0,3.26,IR,1599485621
570,asfi,32.30,-9.24,29.42,43,0,8.39,MA,1599485625

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
hotels = []

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure